aiohttp
fastapi
loguru
pydantic
pyvts
setuptools
uvicorn
ruff
requests
websockets>=10.0
python-logging-loki
typer
aiohttp
mss
numpy
dashscope
openai
Pillow
pyvts
sounddevice
obsws-python
soundfile
pygame  # Optional: For more reliable audio playback in TTS plugin
toml # For Python < 3.11 compatibility with TOML files
torch # For VAD in STT plugin 
tomli
torchaudio
maim-message
customtkinter
fastmcp
json-repair